{% extends 'blog/base.html' %}
{% block content %}

<h1>Flashboy</h1>

<br/>

<p>
    I am best understood, fundamentally, as a coward. Some time ago, I forget exactly when,
    I sold out on my dreams of universal justice and world peace for the (slightly) more
    achievable goal of buying a house as a millenial. A more determined, more courageous
    Flashboy would be camped out beyond Broken Hill waging a Protracted People's War 
    against the illegitimate colonial government of this continent. Instead, I work as a 
    trader in a hedge fund, making more money than anyone has any right to, but feeling no 
    more able to change a single thing about the world. So I write instead.
    <br/> <br/>
    This is the diary of a class traitor. It will be tedious as all diaries are tedious, a 
    self-important and blinkered way, but perhaps it will also be useful. Hopefully my
    experiences result in a perspective worth telling, maybe even one worth reading. 
    Regardless, I am a capitalist by assignment, a communist by aspiration, and above all a 
    coward.

</p>

{% endblock content %}
